@using Portfolio.Core.Models.Appsettings
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@model IEnumerable<Portfolio.Core.Models.SkillViewModel>
@{
    string backgroundImage = "abstract-landscape";
    ViewBag.Title = "My Portfolio";
    ViewBag.Meta = new MetaViewModel { Title = ViewBag.Title, Image = $"background/{backgroundImage}-small.jpg", Description= @appSettings.Value.Lead };

}

<div id="home" class="jumbotron ">
    <partial name="_backgroundImage" model="backgroundImage" />

    <div class="container">
        <section class="page">

            <h1> @appSettings.Value.Title</h1>
            <p class="">
                <a class="btn btn-primary btn-lg" asp-controller="Contact" asp-action="" asp-area=""><i class="fad fa-envelope-open"></i> Contact Me</a>

            </p>
        </section>


        <div class="skills d-flex justify-content-center ">
            <div id="skills-dock">


                @foreach (var skill in Model)
                {
                    <div>
                        <a href="/skills/" title="@skill.Name"> <img class="img-fluid" src="/image/skills/@skill.Image" alt="@skill.Name" title="@skill.Name"></a>
                    </div>
                }


            </div>
        </div>



    </div>
</div>


@*<section>
        <div class="panel d-none d-md-block">

            <div class="panel-body  d-flex justify-content-center">



            </div>
        </div>

    </section>*@
