@model IEnumerable<ArticleViewModel>
@using Portfolio.Core.Models.Appsettings
@using Portfolio.Business.Utils
@inject Microsoft.Extensions.Options.IOptions<BlogSettings> blogSettings
@{

    ViewBag.Title = "Blogs";
    ViewBag.Meta = new MetaViewModel { Title = ViewBag.Title, CanonicalUrl = blogSettings.Value.Url, ShowNavBackground = true };

}





<section>
    <div class="container mt-3 " id="blog-body">
        @*Split model into several smaller arrays to generate a row for each 2 items.*@
        @foreach (var row in Model.ToArray().Split(2))
        {
            <div class="row">
                @foreach (var article in row)
                {
                    article.UrlPath = article.Title;
                    <div class="col-12 col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <a href="@article.UrlPath">   @article.Title</a>
                            </div>

                            <div class="panel-body">
                                <a href="@article.UrlPath">
                                    <header class="blog-header">
                                        <img src="@article.Image" alt="@article.Title" class="" />
                                    </header>
                                </a>

                                <div class="summary mt-3"><a href="@article.UrlPath"> @article.Summary</a></div>

                                <div class="date mt=2">@article.Published.ToShortDateString()</div>


                            </div>
                        </div>
                    </div>
                }
            </div>

        }
    </div>
</section>
