@model IEnumerable<Portfolio.Core.Models.TestimonialViewModel>
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@{
    ViewBag.Title = "Testimonials";
    
}

<div id="testimonial" class="jumbotron">


    <div class="container">
        <section class="page mb-3">

            <h1 style="display:none;"> @ViewBag.Title </h1>

            @foreach (var item in Model)
            {
              

                <div class="pullquote " id="testimonial-@item.Id">



                    <div class="recommendation">
                        " <span>@item.Recommendation</span> "
                    </div>

                    <div class="author mt-3 ">
                        <div class="image-container"><img src="~/image/testimonials/@item.Image" alt="@item.Author" /></div>

                        <span class="author-name">@item.Author</span>
                        <div class="position">@item.Position</div>

                    </div>


                </div>
               
            }

        </section>

        <div class="container">
            <div class="testimonial-more float-right d-flex">

                @foreach (var item in Model)
                {
                    <div>
                        <a href="#" data-id="@item.Id" title="@item.Author"> <i class="fad fa-circle fa-2x"></i></a>
                    </div>
                }


            </div>
        </div>
    </div>
</div>



@*<div id="testimonial-more-content">
        @foreach (var item in Model)
        {
              <div id="testimonial-@item.Id" data-id="@item.Id"  data-recommmendation="@item.Recommendation" data-author="@item.Author" data-img="@item.Image" data-jobtitle="@item.Position">@item</div>
        }
    </div>*@

@*@section Scripts{
        <script nomodule src="~/js/es5/testimonial.js"></script>
    }
}*@






