@using System.Configuration;
<nav class="sidebar">
    <div class="navbar-default" role="navigation">
        <div class="sidebar-nav navbar-collapse">


            <img src="~/image/barry-halper-profile.jpg" alt="Barry Halper profile" class="img-responsive" />

           
            <ul class="nav" id="side-menu">

                <!-- /input-group -->

                <li>
                    <a href="@Url.Content("~/")">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>

                <li>
                    <a href="@Url.Content("~/")">
                        <i class="fas fa-chart-bar"></i> Skills
                    </a>
                </li>

                <li>
                    <a href="@Url.Content("~/")">
                        <i class="fas fa-external-link-square-alt"></i> Projects
                    </a>
                </li>

                <li>
                    <a href="@Url.Content("~/")">
                        <i class="fas fa-file-pdf"></i> CV / Resume
                    </a>
                </li>

                <li>
                    <a href="@Url.Content("~/")">
                        <i class="fas fa-newspaper"></i> Articles
                    </a>
                </li>

                <li>
                    <a href="@Url.Content("~/")">
                        <i class="fas fa-blog"></i> Blogs
                    </a>
                </li>

                <li>
                    <a href="@Url.Content("~/")">
                        <i class="fas fa-university"></i> Education
                    </a>
                </li>

                <li class="social-media">
                    <ul>

                        <li><a href="#"> <i class="fab fa-linkedin"></i> </a></li>
                      
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a> </li>
                        <li> <a href="#"><i class="fab fa-github-square"></i></a> </li>
                    </ul>
                </li>



            </ul>

            <div id="close-menu">
                <a href="#"> <i class="fas fa-arrow-alt-circle-left"></i></a>
            </div>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
</nav>